<div class="flexColCenter">
    <span class="text-red-500 mt-4">
        {{label}}
    </span>
    <input 
        class="text-xs rounded-lg text-center border-4 outline-none transition-colors duration-300"
        type="{{inputMetadata.type}}" 
        name="{{inputMetadata.name}}" 
        id="{{inputMetadata.id}}"
        [ngClass]="!secondLoginAttempt ? 'border-transparent ' : inputControl.valid ? 'border-green-400' : 'border-red-400'"
        [formControl]="inputControl">
</div>