<div class="testBox">
    <p class="testBox__title">{{test.title}}</p>
    <p class="testBox__subtitle">{{test.subtitle}}</p>
    <div class="testBox__icons">
        <div 
            class="testBox__icons--icon"
            >
            <img class="testBox__icons--icon--color" [src]="test.icon1 ? test.icon1 : null" style="height: 100%">
            <img class="testBox__icons--icon--color" [src]="test.icon2 ? test.icon2 : null" style="height: 100%">
            <img class="testBox__icons--icon--color" [src]="test.icon3 ? test.icon3 : null" style="height: 100%">
        </div>
    </div>
</div>