@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .flexColCenter {
        @apply flex flex-col items-center;
    }
    .buttonAnimations {
        @apply hover:scale-105 hover:bg-opacity-80 hover:shadow-xl
        active:bg-opacity-100 active:shadow-md
        active:scale-100 transition-all;
    }
    .boxBorder {
        @apply border-12 border-cognitalia-blue rounded-lg;
    }
    .boxBackgroundColor {
        @apply bg-slate-200
    }
}

@font-face {
    font-family: averta;
    src: local('Averta'), url(./assets/fonts/AvertaDemoPE-Regular.woff2) format('woff2');
}

@font-face {
    font-family: averta-bold;
    src: url(./assets/fonts/AvertaDemoPE-ExtraboldItalic.woff2) format('woff2');
}

html {
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: Averta;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*, *:before, *:after {
    box-sizing: inherit;
  }

.titleFont {
    font-family: averta-bold;
}