<div class="flex flex-col h-full">
    <content-box
        [text]="testIntro">
    </content-box>
    <div class="grid grid-cols-4 grid-rows-2 gap-4 mx-9 mb-9 rounded-lg">

        <div #testCountBox 
            class="h-auto flexColCenter justify-around 
            py-4 boxBorder bg-orange-100">
            <span class="text-base">
                Number of tests done:
            </span>
            <span class="flex items-center">
                {{(testsFinishedCount$ | async) ?? 0}}/5
            </span>
        </div>
        <div [ngClass]="testState"
            (click)="testBox_Click()"
            #testBox 
            class="h-60 col-span-3 row-span-2 flexColCenter text-center
            justify-evenly boxBorder">
            <h1 class="text-2xl">{{(testInstructions$ | async)?.title}}</h1>
            <span class="">{{(testInstructions$ | async)?.subtitle}}</span>
        </div>
        <div #testScoreBox 
            class="h-auto flexColCenter justify-around 
            py-4 boxBorder bg-orange-100">
            <span class="text-base">
                Previous test score:
            </span>
            <span *ngIf="(latestScore$ | async)" class="flex items-center">
                {{latestScore$ | async}}ms
            </span>
        </div>

    </div>
    <ng-container *ngIf="(testsFinishedCount$ | async) as count">
            <div *ngIf="count >= 5"
            #testResultsRow
            class="grid grid-cols-3 gap-6 mx-9 mb-9">
            <div class="flexColCenter pt-5 col-span-3 boxBorder bg-emerald-100">
                <h1 class="titleFont text-3xl mb-2 text-cognitalia-darkBlue text-center">
                    Results are in!
                </h1>
                <span class="mx-5">
                    Your reaction times in this session: 
                    <span class="font-bold">
                        {{testResults}}
                    </span>
                </span>
                <span class="mx-5">
                    Your average reaction time is 
                    <span class="font-bold">
                        {{averageReactionTime$ | async}}
                    </span>
                </span>
                <app-button
                    [caption]="'Try again?'" 
                    [callback]="resetTestCallback"></app-button>
            </div>
            <!-- <div class="h-10 boxBorder bg-emerald-100"></div> -->
        </div>
    </ng-container>
    <footer class="mt-auto"></footer>
</div>