<div class="aspect-square w-64 m-7 text-cognitalia-white rounded-lg bg-cognitalia-blue 
        cursor-pointer flex flex-col
        transition-all duration-300 hover:bg-yellow-300 hover:scale-105 hover:-translate-y-1 hover:drop-shadow-xl hover:text-cognitalia-darkBlue">
    <h1 class="font-bold text-xl text-center pt-5">{{test.title}}</h1>
    <span class="flex justify-center text-center text-lg leading-5 px-4 pt-6">{{test.subtitle}}</span>
    <div class="flex items-center justify-center mt-auto mb-12">
        <img *ngFor="let icon of test.icons; let i = index"
            [src]="icon"
            class="h-12 px-1 filter testIcons" 
            style="filter: invert(10%) sepia(6%) saturate(6852%) hue-rotate(183deg) brightness(89%) contrast(102%)"/>
    </div>
</div>
