<header
    class="app-header"
>
    <a routerLink="/">
        <h1>Cognitalia</h1>
    </a>
    <h3>Prueba varios juegos cognitivos y mide tus habilidades con el resto del mundo</h3>
    <app-button
        *ngIf="hasRoute('/')"
        text="Empieza ahora"
    ></app-button>

    <div class="userManagement loggedIn" *ngIf="loggedIn$ | async as user; else notLoggedIn">
        <span>Bienvenid@, {{user.username}}</span>
        <span class="loggedIn--logout" (click)="logout()">Salir</span>
    </div>
    <ng-template #notLoggedIn>
        <div class="userManagement">
            <span class="userManagement--login" routerLink="acceso-usuario">Acceso usuario</span>
            <span class="userManagement--register" routerLink="registro-usuario">Crear cuenta</span>
        </div>
    </ng-template>
    
</header>
