<header
    class="app-header"
>
    <a routerLink="/">
        <h1>Cognitalia</h1>
    </a>
    <h3>Play some cognitive games and compare your skills with the rest of the world</h3>

    <div class="userManagement loggedIn" *ngIf="loggedIn$ | async as user; else notLoggedIn">
        <span>Welcome, {{user.username}}</span>
        <span class="loggedIn--logout" (click)="logout()">Logout</span>
    </div>
    <ng-template #notLoggedIn>
        <div class="userManagement">
            <span class="userManagement--login" routerLink="acceso-usuario">Log in</span>
            <span class="userManagement--register" routerLink="registro-usuario">Sign up</span>
        </div>
    </ng-template>
</header>
