.app-header {
    background-color: rgba(0, 255, 106, 0.281);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin-bottom: auto;
    
    & h1 {
        text-transform: uppercase;
        margin-bottom: 4rem;
    }

    & h3 {
        margin-bottom: 4rem;
    }

    & a:link,
    & a:visited {
        text-decoration: none;
        color: inherit;
    }
}