<div class="TR">
    <app-test-description-box></app-test-description-box>

    <div class="testCount">
        Test #: {{testCount}}/5
    </div>

    <app-test-tr
        (generateResults)="generateResults($event)"
    ></app-test-tr>

    <div class="TR__results" *ngIf="testCount>=5">
        <app-test-results 
            class="testResults"
            [responseTimes]="results.responseTimes"
            [averageTimes]="results.averageTimes"
            [comparativeResults]="results.comparativeResults"
            [callbackFunction]="resetTest"
        ></app-test-results>
        <app-global-results
            class="globalResults"
        ></app-global-results>
    </div>
</div>
<app-footer></app-footer>