<div class="TR">
    <app-test-description-box></app-test-description-box>

    <div class="testCount">
        Test nº: {{testCount}}/5
    </div>

    <app-test-tr
        (generateResults)="generateResults($event)"
    ></app-test-tr>

    <app-test-results 
        class="testResults"
        *ngIf="testCount>=5"
        [responseTimes]="results.responseTimes"
        [averageTimes]="results.averageTimes"
        [comparativeResults]="results.comparativeResults"
        [callbackFunction]="resetTest"
    ></app-test-results>
</div>