<div class="flex flex-col bg-cognitalia-darkBlue">
    <div class="grid grid-cols-2 gap-x-3 mt-1">
        <div class="flex justify-center cursor-pointer"
            (click)="footerRedirect('gitlab')"
        >
            <div class="flex justify-center items-center pr-3 transition-all hover:bg-slate-700 hover:scale-x-110 active:bg-cognitalia-darkBlue active:scale-100">
                <img class="w-10 h-10" src="../../assets/gitlab-logo-500.svg"/>
                <span class="text-cognitalia-blue">Read the source code</span>
            </div>
        </div>
        <div class="flex justify-center cursor-pointer">
            <div class="flex justify-center items-center px-3 transition-all hover:bg-slate-700 hover:scale-x-110 active:bg-cognitalia-darkBlue active:scale-100">
                <img class="h-7 mr-2" style="filter: invert(42%) sepia(31%) saturate(5788%) hue-rotate(2deg) brightness(104%) contrast(103%)" src="../../assets/email.svg">
                <span class="text-cognitalia-blue">Contact me</span>
            </div>
        </div>
    </div>
    <div id="FOOTER-COPYRIGHT" 
        class="mt-auto flex flex-col justify-end p-3"
    >
        <a id="FOOTER-CC-ICON" class="self-center inline-block" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
        </a>
        <span id="FOOTER-CC_TEXT" class="text-cognitalia-orange text-sm self-center">
            This work is licensed under a <a class="text-cognitalia-blue" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
        </span>
    </div>
</div>