<div class="flex flex-col h-full">

    <div *ngIf="tests; else elseTests" class="flex flex-wrap justify-center mt-6">
        <home-box
        *ngFor="let test of tests"
        [test]="test"
        (click)="routeTo(test.title.toUpperCase())"
        ></home-box>
    </div>
    <ng-template #elseTests class="flex flex-col justify-between h-full">
        <content-box [text]="errorContentBoxText"></content-box>
    </ng-template>
    <footer class="mt-auto"></footer>
</div>