<div class="flex flex-col h-full">
    <header></header>
    <div [@routeAnimations]="getRouteAnimationData()" class="h-full">
        <router-outlet (activate)="onRouting($event)"></router-outlet>
    </div>
</div>