<div class="flexColCenter
        m-9 boxBorder boxBackgroundColor">

    <h1 *ngIf="text != null && text.title != null" 
        class="titleFont text-3xl my-5 text-cognitalia-darkBlue">
        {{text.title}}
    </h1>

    <p *ngFor="let paragraph of text?.body"
        class="text-lg mb-8 mx-10">
        {{paragraph}}
    </p>

    <app-button *ngIf="buttonData != null" 
        [caption]="buttonData.caption"
        [callback]="buttonData.callback"></app-button>
</div>