<div class="flexColCenter text-sm px-4">
    <frm-label-input 
        #emailInput
        [label]="'EMAIL'"
        [mode]="'email'"
        [inputMetadata]="emailInputMetadata"
        [secondLoginAttempt]="invalidFormSubmitted"
        (keypress)="keyPress($event)">
    </frm-label-input>
    <span *ngIf="invalidFormSubmitted && emailInput.inputControl.errors"
        class="text-red-500 text-[17px] leading-4 text-center">
        Please enter a valid email
    </span>
    <frm-label-input
        #usernameInput
        [label]="'USERNAME'"
        [mode]="'text'"
        [inputMetadata]="usernameInputMetadata"
        [secondLoginAttempt]="invalidFormSubmitted"
        (keypress)="keyPress($event)">
    </frm-label-input>
    <span *ngIf="invalidFormSubmitted && usernameInput.inputControl.errors"
        class="text-red-500 text-[17px] leading-4 text-center">
        Please enter a username (min. 4 characters)
    </span>
    <frm-label-input 
        #pwInput
        [label]="'PASSWORD'"
        [mode]="'password'"
        [inputMetadata]="pwInputMetadata"
        [secondLoginAttempt]="invalidFormSubmitted"
        (keypress)="keyPress($event)">
    </frm-label-input>
    <span *ngIf="invalidFormSubmitted && pwInput.inputControl.errors"
        class="text-red-500 text-[17px] leading-4 text-center">
        Password must be at least 4 characters long
    </span>
    <span *ngIf="!matchingPasswords"
        class="text-red-500 text-[17px] leading-4 text-center">
        Passwords must match
    </span>
    <frm-label-input 
        #pwInput2
        [label]="'CONFIRM PASSWORD'"
        [mode]="'password'"
        [inputMetadata]="pwInputMetadata2"
        [secondLoginAttempt]="invalidFormSubmitted"
        (keypress)="keyPress($event)">
    </frm-label-input>
    <span *ngIf="invalidFormSubmitted && pwInput2.inputControl.errors"
        class="text-red-500 text-[17px] leading-4 text-center">
        Password must be at least 4 characters long
    </span>
    <span *ngIf="!matchingPasswords"
        class="text-red-500 text-[17px] leading-4 text-center">
        Passwords must match
    </span>
    <span (click)="changeMode()"
        class="text-blue-200 text-xs mt-3 hover:underline cursor-pointer">Already have an account?</span>
    <button class="m-4 p-1 rounded-sm bg-cognitalia-orange text-cognitalia-darkBlue 
            hover:opacity-80 active:translate-y-0.5 transition" 
        (click)="submit()">
        SUBMIT
    </button>
</div>