<div class="register">
    <h2 class="register__header">Create a new account</h2>
    <span class="register__loginLink">(Or, if you already own one, <span class="register__loginLink--link" routerLink="/acceso-usuario">sign up</span>)</span>
    <div *ngIf="account_exists" class="accountExists">This account already exists</div>
    <form #register="ngForm" (ngSubmit)="signup()">
        <div class="register__email">
            <label for="emailRegister" class="register__label--email">Email</label>
            <input 
                email
                [(ngModel)]="email" 
                #emailInput="ngModel"
                name="emailRegister" 
                type="email" 
                id="emailRegister" 
                class="register__input--email"
                [class.invalid]="emailInput.errors && emailInput.errors['email']"
                [class.valid]="emailInput.value && emailInput.value.length != 0 && !emailInput.errors"
                >
        </div>
        <div class="register__username">
            <label for="usernameRegister" class="register__label--username">Username</label>
            <input 
                [(ngModel)]="username"
                #usernameInput="ngModel"
                name="usernameRegister"
                type="text"
                id="usernameRegister"
                class="register__input--username"
                (focus)="focus($event)"
                (blur)="blur($event)"
                [class.invalid]="usernameFocused && !usernameInput.value"
                [class.valid]="usernameFocused && usernameInput.value && usernameInput.value.length != 0"
            >
        </div>
        <div class="register__pwGroup">
            <div class="register__pw">
                <label for="passwordRegister1" class="register__label--pw">Password</label>
                <input 
                    [(ngModel)]="password1" 
                    #pwInput1="ngModel"
                    name="passwordRegister" 
                    type="password" 
                    id="passwordRegister1" 
                    class="register__input--pw"
                >
            </div>
            <div class="register__pw">
                <label for="passwordRegister2" class="register__label--pw">Password (again)</label>
                <input 
                    [(ngModel)]="password2" 
                    #pwInput2="ngModel"
                    name="passwordRegister" 
                    type="password" 
                    id="passwordRegister2" 
                    class="register__input--pw"
                >
            </div>
        </div>

        <button
            type="submit"
            class="register__submit"
            [disabled]="emailInput.pristine || usernameInput.pristine || pwInput1.pristine || pwInput2.pristine"
        >Acceder</button>
    </form>
</div>

<app-footer></app-footer>