@import '../../utils/variables.scss';

.globalResults {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 5px 5px; 
    justify-content: center;
    align-content: center;
    
    height: 100%;
    text-align: center;
    font-size: 2rem;
    background-color: $light-gray;
    border-radius: 1rem;
    padding: 2rem;

    &__heading {
        margin-bottom: 2rem;
    }

    & span {

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
}