@import '../../utils/variables.scss';

.globalResults {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    font-size: 2rem;
    background-color: $light-gray;
    border-radius: 1rem;
    padding: 2rem;

    &__heading {
        margin-bottom: 2rem;
    }

    & span {

        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
}