<div [@authCardAnimation]="isOpen ? 'open' : 'closed'"
    class="absolute right-0 bg-cognitalia-darkBlue rounded-bl-lg z-50 max-w-[13rem]">
    <login-form *ngIf="authMode == 'login'; else register"
        (changeModeEvent)="setMode($event)">
    </login-form>
    <ng-template #register>
        <register-form (changeModeEvent)="setMode($event)"></register-form>
    </ng-template>
</div>