@import '../../utils/variables.scss';

.mnumBox {
    width: 100%;
    min-height: 40rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        padding-top: 5rem;
    }
}

.initState {
    background-color: $light-green;
}