<div class="flexColCenter text-sm px-4">
    <frm-label-input 
        #emailInput
        [label]="'EMAIL'"
        [mode]="'email'"
        [secondLoginAttempt]="invalidFormSubmitted"
        [inputMetadata]="emailInputMetadata"
        (keypress)="keyPress($event)">
    </frm-label-input>
    <span *ngIf="invalidFormSubmitted && emailInput.inputControl.errors"
        class="text-red-500 text-[17px] leading-4 text-center">
        Please enter a valid email
    </span>
    <frm-label-input 
        #pwInput
        [label]="'PASSWORD'"
        [mode]="'password'"
        [secondLoginAttempt]="invalidFormSubmitted"
        [inputMetadata]="pwInputMetadata"
        (keypress)="keyPress($event)">
    </frm-label-input>
    <span *ngIf="invalidFormSubmitted && pwInput.inputControl.errors"
        class="text-red-500 text-[17px] leading-4 text-center">
        Password must be at least 4 characters long
    </span>
    <span (click)="changeMode()"
        class="text-blue-200 text-xs mt-3 hover:underline cursor-pointer">Don't have an account?</span>
    <span class="text-blue-200 text-xs mt-3">Forgot your password?</span>
    <button 
        class="m-4 p-1 rounded-sm bg-cognitalia-orange text-cognitalia-darkBlue 
            hover:opacity-80 active:translate-y-0.5 transition" 
        (click)="submit()">
        SUBMIT
    </button>
</div>