@import "../../../utils/variables.scss";

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 5rem auto;
    width: 50%;
    // height: 44rem;
    background-color: $light-gray;

    &__header {
        display: flex;
        align-items: center;
        flex-grow: 1;
        margin-top: 4rem;
    }

    &__registerLink {
        margin-bottom: 2rem;
        font-size: 1.4rem;

        &--link {
            color: blue;
            cursor: pointer;
            text-decoration: underline;
        }
    }

    & form {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        align-items: center;
    }

    &__user,
    &__pw {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }
    
    &__input--user,
    &__input--pw {
        all: unset;
        background-color: white;
        border: 2px solid $medium-gray;
        height: 4rem;
        min-width: 40rem;
        margin: 1rem;
        border-radius: 5rem;
        text-align: center;
        transition: all 0.2s;
    }

    &__submit {
        ////////// BUTTON CSS RESET
        background-color: transparent;
        border: 0;
        ////////////////////////// 
        cursor: pointer;
        background-color: orange;
        padding: 1.5rem;
        font-size: 1.6rem;
        border-radius: 5rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        transition: all 0.2s;
        margin-bottom: 4rem;

        &:not(:disabled) {
            &:hover {
                transform: scale(1.05) translateY(-0.1rem);
                box-shadow: 0 0.2rem 1rem 0.2rem rgba(0, 0, 0, 0.226);
                background-color: rgb(253, 175, 29);
            }
    
            &:active {
                transform: scale(1.05) translateY(0.2rem);
                box-shadow: 0 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.226);
                background-color: rgb(241, 158, 2);
            }
        }

        &:disabled {
            opacity: 50%;
            cursor: not-allowed;
        }
    }
}

.valid {
    border: 2px solid green;
}
.invalid {
    border: 2px solid red;
}