<div class="login">
    <h2 class="login__header">Accede a tu cuenta</h2>
    <span class="login__registerLink">(O, si aún no tienes, <span class="login__registerLink--link" routerLink="/registro-usuario">regístrate</span>)</span>
    <form #login="ngForm" (ngSubmit)="submitCredentials()">
        <div class="login__user">
            <label for="userLogin" class="login__label--user">Usuario</label>
            <input 
                email
                [(ngModel)]="username" 
                #userInput="ngModel"
                name="userLogin" 
                type="email" 
                id="userLogin" 
                class="login__input--user"
                [class.invalid]="userInput.errors && userInput.errors['email']"
                [class.valid]="userInput.value && userInput.value.length != 0 && !userInput.errors"
                >
        </div>
        <div class="login__pw">
            <label for="passwordLogin" class="login__label--pw">Contraseña</label>
            <input 
                [(ngModel)]="password" 
                name="passwordLogin" 
                type="password" 
                id="passwordLogin" 
                class="login__input--pw"
            >
        </div>

        <button
            type="submit"
            class="login__submit"
        >Acceder</button>
    </form>
</div>