<div class="login">
    <h2 class="login__header">Accede a tu cuenta</h2>
    <form>
        <div class="login__user">
            <label for="userLogin" class="login__label--user">Usuario</label>
            <input type="email" id="userLogin" class="login__input--user">
        </div>
        <div class="login__pw">
            <label for="passwordLogin" class="login__label--pw">Contraseña</label>
            <input type="password" id="passwordLogin" class="login__input--pw">
        </div>

        <app-button
            class="login__submit"
            text="Acceder"
        ></app-button>
    </form>
</div>