<div class="main">
        <app-main-test
            title="Tiempo de reacción"
            description="Mide tus reflejos"
        ></app-main-test>
        <app-main-test
            title="Memoria numérica"
            description="Comprueba cuántas cifras puedes recordar a la vez"
        ></app-main-test>
        <app-main-test
            title="Memoria verbal"
            description="Recuerda la mayor cantidad de palabras posible"
        ></app-main-test>
        <app-main-test
            title="Memoria visual"
            description="Recuerda un tablero cada vez más grande"
        ></app-main-test>
        <app-main-test
            title="Velocidad de escritura"
            description="Mide cuántas palabras puedes escribir por minuto"
        ></app-main-test>
        <app-main-test
            title="Test de Stroop"
            description="Comprueba si eres capaz de ignorar estímulos conflictivos"
        ></app-main-test>
</div>