<div [@fadeInOut]
    *ngIf="isAuthCardOpen" 
    (click)="isAuthCardOpen ? toggleAuthCardOpen() : ''"
    class="fixed top-0 left-0 bg-black bg-opacity-50 z-10 h-screen w-screen">
</div>
<div class="relative flex bg-cognitalia-darkBlue h-20 z-20">
    <span (click)="!isAuthCardOpen ? routeTo('HOME') : ''"
        class="mx-auto self-center text-4xl titleFont text-cognitalia-orange"
        [ngClass]="isAuthCardOpen ? 'cursor-default' : 'cursor-pointer'">
        COGNITALIA
    </span>
    <div (click)="toggleAuthCardOpen()"
        class="absolute right-8 h-full flex items-center justify-center">
        <div class="items-center p-3 rounded-lg cursor-pointer transition-all
            hover:animate-smallBounce hover:opacity-100 active:translate-y-0.5 duration-400"
            [ngClass]="isAuthCardOpen 
                ? 'bg-cognitalia-orange opacity-100 hover:bg-opacity-80' 
                : 'hover:bg-cognitalia-white hover:bg-opacity-20'">
            <span [ngClass]="isAuthCardOpen 
                ? 'text-cognitalia-darkBlue font-bold' 
                : 'text-cognitalia-white font-bold'">
                {{isAuthCardOpen ? "Close" : "Log In"}}
            </span>
            <!-- <img [src]="'./assets/UserIcon_White.svg'"
                class="w-8"/> -->
        </div>
    </div>
</div>
<auth-card [isOpen]="isAuthCardOpen"></auth-card>